@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Share:400,400i,700,700i');

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow-x:hidden;
	text-align:center;
	font-size:13px;
	color:#fff;
	font-family: 'Istok Web', sans-serif;
	background-color: #E7E7E7 !important;
}
.espaco{
	width: 100%;
	position: relative;
	height: 40px;
}
.box_inputs {
	width: 100%;
	height: auto;
	margin-top: 15px;
	position: relative;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.justify{
	text-align: justify;
}
.center{
	text-align: center;
}
/* Faixa Rosa Topo */
#faixarosa {	
	position: relative;
	width: 100%;
	height: 4px;
	margin: auto;
	background-color:#f397a4;
	margin-bottom: 20px;
	margin-top: -20px;
}

/* DIV Principal */
#principal {	
	position: relative;
	width: 960px;
	height: auto;
	margin: auto;
	margin-top: 15px;
}
/* DIV Topo do Logo */
#topo_logotipo{	
	position: relative;
	width: 960px;
	height: 110px;
	margin:auto;
	margin-top: 0px;
}
.branco {
	color: #ffffff;
}
#logotipo{
	position: absolute;
	width: 236px;
	height: 99px;
	margin: auto;
	left: 0px;
	color:#B4373A;
}
#topo_email{
	position: relative;
	width: 100%;

	height: auto;
	text-align: center;
}

/* Estilos */
.estilo_email {
	color: #656a6d;
	font-size:18px;
	font-weight:normal;
}
.estilo_social {
	color: #656a6d;
	font-size:20px;
	font-weight:normal;
}
/* Menu Principal */
#fundomenu{
	position:absolute;
	width:960px;
	height: 45px;
	background: #6f7375; /* Old browsers */
	background: -moz-linear-gradient(top,  #6f7375 0%, #5f6669 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f7375), color-stop(100%,#5f6669)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6f7375 0%,#5f6669 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6f7375 0%,#5f6669 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6f7375 0%,#5f6669 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6f7375 0%,#5f6669 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7375', endColorstr='#5f6669',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0 12px 13px -10px #5E5E5E;
	box-shadow: 0 12px 13px -10px #5E5E5E;
	border-bottom: 2px solid #f397a4;
	
}
#bt_home {
	position:absolute;
	width:135px;
	height:20px;
	left:0px;
	top:12px;
	border-right:1px solid #fff;	
}
#bt_quemsomos {
	position:absolute;
	width:135px;
	height:20px;
	left:135px;
	top:12px;
	border-right:1px solid #fff;	
}
#bt_laboratorio {
	position:absolute;
	width:135px;
	height:20px;
	left:270px;
	top:12px;
	border-right:1px solid #fff;	
}
#bt_servicos {
	position:absolute;
	width:135px;
	height:20px;
	left:405px;
	top:12px;
	border-right:1px solid #fff;	
}
#bt_receita {
	position:absolute;
	width:135px;
	height:20px;
	left:540px;
	top:12px;
	border-right:1px solid #fff;	
}
#bt_localizacao {
	position:absolute;
	width:135px;
	height:20px;
	left:675px;
	top:12px;
	border-right:1px solid #fff;	
}
#bt_faleconosco {
	position:absolute;
	width:135px;
	height:20px;
	left:817px;
	top:12px;
}

/* Banner */
#fundo_banner{
	width:552px;
	height: 264px;
	position: relative;
	margin-top: 80px;
	margin-left: -32px;
	background-image:url(../images/sombra_banner.png);
}
#ft{
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
}
#ftHolder{
	width: 600px;
	height: 235px;
	position: absolute;
	z-index: 1;
	left: 32px;
	top: 0px;
	border: solid #afafaf 2px;
}
#texto_meio{
	width:459px;
	height:50px;
	position: absolute;
	z-index: 1;
}	
.ft-title{
	padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
	width:580px;
	height:20px;
	text-align:left;
	font-size:18px;
	font-weight:bold;
}
/* Receita Pelo Site */
#receita_site {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
    font-family: 'Share', cursive;
	z-index:2;
	background: #f397a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f397a4 0%, #c95768 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f397a4), color-stop(100%,#c95768)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f397a4 0%,#c95768 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f397a4 0%,#c95768 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f397a4 0%,#c95768 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f397a4 0%,#c95768 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f397a4', endColorstr='#c95768',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0 12px 13px -10px #5E5E5E;
	box-shadow: 0 12px 13px -10px #5E5E5E;
	border:2px solid #fff;
	margin-bottom: 15px;
	margin-top: 20px;
}
#bola_pedido{
	width:350px;
	height: 350px;
	position: absolute;
	right:0px;
	top: 180px;
	margin:auto;
	background-image:url(../images/img_pedido.png);
	z-index:10;
}

/* Titlo Central */
#titulo_central{
	width:960px;
	height: 50px;
	position: relative;
	margin:auto;
	margin-top: 120px;
}

#chamada{
	width:100%;
	height: auto;
	position: relative;
	padding-top: 30px;
	text-align: center;
}
/* Boxes Central */
#fundobox {
	position:relative;
	width: 100%;
	height: auto;
	margin-top: 10px;
	padding: 10px;
	background: #f397a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f397a4 0%, #c95768 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f397a4), color-stop(100%,#c95768)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f397a4 0%,#c95768 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f397a4 0%,#c95768 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f397a4 0%,#c95768 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f397a4 0%,#c95768 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f397a4', endColorstr='#c95768',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0 12px 13px -10px #5E5E5E;
	box-shadow: 0 12px 13px -10px #5E5E5E;
}

#fundobox2 {
	position:absolute;
	background-color:#;
	width:111px;
	height:125px;
	left:0px;
	top:0px;
	border-right:1px solid #f6bec6;	
}
#icone_fundobox {
	position: relative;
	width:100%;
	height: auto;
	text-align: center;
	color: #ffffff;
}
#fundobox3 {
	position:absolute;
	background-color:#;
	width:111px;
	height:125px;
	left:192px;
	top:0px;
	border-right:1px solid #f6bec6;
	border-left:1px solid #d97280;	
}
#fundobox4 {
	position:absolute;
	background-color:#;
	width:111px;
	height:125px;
	left:385px;
	top:0px;
	border-right:1px solid #f6bec6;
	border-left:1px solid #d97280;	
}
#fundobox5 {
	position:absolute;
	background-color:#;
	width:111px;
	height:125px;
	left:578px;
	top:0px;
	border-right:1px solid #f6bec6;
	border-left:1px solid #d97280;	
}
#fundobox6 {
	position:absolute;
	background-color:#;
	width:111px;
	height:125px;
	left:769px;
	top:0px;
}

#botao_saibamais {
	position: relative;
	width:100%;
	height: 40px;
	margin-bottom: 10px;
}
/* Títulos */
#titulos_paginas{
	width:580px;
	height: auto;
	position: relative;
	margin-top: 80px;
	text-align: justify;
	left:0px;
}
#titulos_paginas2{
	width:960px;
	height: auto;
	position: relative;
	margin-top: 80px;
	text-align: justify;
	left:0px;
}
#titulo_obrigado{
	width:960px;
	height: 300px;
	position: relative;
	margin-top: 150px;
	text-align: center;
	left:0px;
}
#info_legais{
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	border-top: solid 1px #666666;
}
#info_localizacao{
	width:960px;
	height: auto;
	position: relative;
	margin-top: 20px;
	text-align: left;
	left:0px;
	padding-top:10px;
}
#conteudo_laboratorios{
	width:960px;
	height: 1000px;
	position: relative;
	margin-top: 20px;
	left:0px;
}
#lab_foto1{
	width: 280px;
	height: 280px;
	position: absolute;
	left: 25px;
	top: 7px;
}
#lab_textofoto1{
	width: 476px;
	height: 117px;
	position: absolute;
	left: 467px;
	top: 99px;
}
#lab_foto2{
	width: 280px;
	height: 280px;
	position: absolute;
	left: 186px;
	top: 54px;
}
#lab_textofoto2{
	width: 609px;
	height: 182px;
	position: absolute;
	left: 45px;
	top: 368px;
	text-align: right;
}
#lab_foto3{
	width: 280px;
	height: 280px;
	position: absolute;
	left: 652px;
	top: 303px;
}
#lab_textofoto3{
	width: 609px;
	height: 134px;
	position: absolute;
	left: 319px;
	top: 609px;
}
#lab_foto4{
	width: 280px;
	height: 280px;
	position: absolute;
	left: 657px;
	top: 748px;
}
#lab_foto5{
	width: 280px;
	height: 280px;
	position: absolute;
	left: 37px;
	top: 544px;
}
#lab_textofoto4{
	width: 609px;
	height: 114px;
	position: absolute;
	left: 31px;
	top: 837px;
	text-align: right;
}
#info_end{
	width: 100%;
	height: auto;
	position:  relative;
	-webkit-box-shadow: 0 1px 5px 0 #050505;
	box-shadow: 0 1px 5px 0 #050505;
	background: #FFF;
	padding-top: 5px;
	padding-bottom: 20px;
	text-align: center;
}
#info_hora{
	width: 280px;
	height: 70px;
	position:  absolute;
	left:332px;
	top:295px;
	-webkit-box-shadow: 0 1px 5px 0 #050505;
	box-shadow: 0 1px 5px 0 #050505;
	background: #FFF;
	padding: 10px 5px 20px 10px;
	text-align:left;
}
#info_est{
	width: 280px;
	height: 70px;
	position:  absolute;
	right:0px;
	top:295px;
	-webkit-box-shadow: 0 1px 5px 0 #050505;
	box-shadow: 0 1px 5px 0 #050505;
	background: #FFF;
	padding: 10px 5px 20px 10px;
	text-align:left;
}
#mapa{
  width: 100%; 
  height: 500px; 
  position: relative;
  margin-top: 20px;
}
#imagem_quemsomos{
	width:369px;
	height: 757px;
	position: absolute;
	top:215px;
	right:0px;
}
#imagem_servicos{
	width:365px;
	height: 450px;
	position: absolute;
	top:180px;
	right:0px;
}


/* Texto Quem Somos */
#box_quemsomos{
	width:100%;
	height: auto;
	position: relative;
	text-align: justify;
}
#botao_saibamais2 {
	position: relative;
	width:156px;
	height: 40px;
	z-index:2;
	margin-bottom: 20px;
	background: #b7b5b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #b7b5b5 0%, #646265 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b5b5), color-stop(100%,#646265)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b7b5b5 0%,#646265 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b7b5b5 0%,#646265 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b7b5b5 0%,#646265 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b7b5b5 0%,#646265 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b5b5', endColorstr='#646265',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0 12px 13px -10px #5E5E5E;
	box-shadow: 0 12px 13px -10px #5E5E5E;
	border:1px solid #fff;
	text-align:center;
	padding-top: 5px;
}
/* Mapa da Home */
#mapa_home{
	width: 100%;
	height: auto;
	position:  relative;
	-webkit-box-shadow: 0 1px 5px 0 #050505;
	box-shadow: 0 1px 5px 0 #050505;
	background: #FFF;
	padding: 10px 5px 20px 10px;
	text-align:left;
}
/* Rodapé */
#rodape{	
	position: relative;
	width: 100%;
	height: auto;
	text-align:center;
	background-image: url(../images/bg_rodape.png);
	padding-top: 10px;
	border-top: 2px solid #f397a4;
}



/* Estilos de Links */
.linkmail:link {
	color:#656a6d;
	text-decoration: none;
}
.linkmail:visited {
	text-decoration: none;
	color: #656a6d;
}
.linkmail:hover {
	text-decoration: underline;
	color: #656a6d;
}
.linkmail:active {
	text-decoration: none;
	color: #656a6d;
}

.linkw:link {
	color:#ffffff;
	text-decoration: none;
}
.linkw:visited {
	text-decoration: none;
	color: #ffffff;
}
.linkw:hover {
	text-decoration: underline;
	color: #ffffff;
}
.linkw:active {
	text-decoration: none;
	color: #ffffff;
}

.linksocial:link {
	color:#656a6d;
	text-decoration: none;
}
.linksocial:visited {
	text-decoration: none;
	color: #656a6d;
}
.linksocial:hover {
	text-decoration: underline;
	color: #656a6d;
}
.linksocial:active {
	text-decoration: none;
	color: #656a6d;
}


.linkfernando:link {
	color:#fff;
	text-decoration: none;
}
.linkfernando:visited {
	text-decoration: none;
	color: #fff;
}
.linkfernando:hover {
	text-decoration: underline;
	color: #fff;
}
.linkfernando:active {
	text-decoration: none;
	color: #fff;
}

.linkmenu:link {
	font-size:14px;
	color:#fff;
	text-decoration: none;
}
.linkmenu:visited {
	font-size:14px;
	text-decoration: none;
	color: #fff;
}
.linkmenu:hover {
	font-size:14px;
	text-decoration: underline;
	color: #fff;
}
.linkmenu:active {
	font-size:14px;
	text-decoration: none;
	color: #fff;
}

.linkrconline:link {
	font-size:22px;
	color:#fff;
	text-decoration: none;
}
.linkrconline:visited {
	font-size:22px;
	text-decoration: none;
	color: #fff;
}
.linkrconline:hover {
	font-size:22px;
	text-decoration: underline;
	color: #fff;
}
.linkrconline:active {
	font-size:22px;
	text-decoration: none;
	color: #fff;
}


.linksaibamais:link {
	font-family: 'Share', cursive;
	color:#656a6d;
	text-decoration: none;
	text-shadow: 1px 1px 1px #ffffff;
}
.linksaibamais:visited {
	font-family: 'Share', cursive;
	text-decoration: none;
	color: #656a6d;
	text-shadow: 1px 1px 1px #ffffff;
}
.linksaibamais:hover {
	font-family: 'Share', cursive;
	text-decoration: underline;
	color: #656a6d;
	text-shadow: 1px 1px 1px #ffffff;
}
.linksaibamais:active {
	font-family: 'Share', cursive;
	text-decoration: none;
	color: #656a6d;
	text-shadow: 1px 1px 1px #ffffff;
}


.linksaibamais2:link {
	font-family: 'Share', cursive;
	color:#fff;
	text-decoration: none;
	font-weight:bold;
	font-size:18px;
}
.linksaibamais2:visited {
	font-family: 'Share', cursive;
	text-decoration: none;
	color: #fff;
	font-weight:bold;
	font-size:18px;
}
.linksaibamais2:hover {
	font-family: 'Share', cursive;
	text-decoration: underline;
	color: #fff;
	font-weight:bold;
	font-size:18px;
}
.linksaibamais2:active {
	font-family: 'Share', cursive;
	text-decoration: none;
	color: #fff;
	font-weight:bold;
	font-size:18px;
}

.linkrosa:link {
	color:#d97482;
	text-decoration: none;
	font-size:16px;
}
.linkrosa:visited {
	font-family: 'Share', cursive;
	text-decoration: none;
	color: #d97482;
	font-size:16px;
}
.linkrosa:hover {
	text-decoration: underline;
	color: #d97482;
	font-size:16px;
}
.linkrosa:active {
	text-decoration: none;
	color: #d97482;
	font-size:16px;
}

.estilo_direitos_reservados {
	color: #fff;
	font-size:13px;
	font-weight:normal;
}
.estilo_texto_granco_branco {
	font-family: 'Share', cursive;
	color: #fff;
	font-size:22px;
	font-weight: bold;
	text-align:left;
    padding-left:10px;
    padding-top:5px;
	padding-bottom:5px;
}
.estilo_texto_medio_branco {
	font-family: 'Share', cursive;
	color: #fff;
	font-size:20px;
	font-weight: bold;
	text-align:left;
	text-shadow: 1px 1px 1px #6E6E6E;
	padding-left:80px;
	padding-top:20px;
}
.estilo_texto_granco_cinza {
	font-family: 'Share', cursive;
	color: #646265;
	font-size:30px;
	font-weight: bold;
	text-align: center;
}
.estilo_texto_medio_cinza {
	font-family: 'Share', cursive;
	color: #646265;
	font-size:20px;
	font-weight: 700;
}
.estilo_texto_granco_rosa {
	font-family: 'Share', cursive;
	color: #646265;
	font-size:20px;
	font-weight: normal;
	text-align:left;
}
.estilo_texto_geral {
	color: #646265;
	font-size:17px;
	font-weight: 300;
}

.estilo_texto_geral_pequeno {
	color: #646265;
	font-size:12px;
	font-weight:normal;
	font-style:italic;
}
.estilo_texto_geral_negrito {
	color: #646265;
	font-size:17px;
	font-weight: bold;
}

button {
	width:156px;
	height:40px;
	font-family: 'Share', cursive;
	color:#656a6d;
	text-decoration: none;
	text-shadow: 1px 1px 1px #ffffff;
	font-size: 19px;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #cecece 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#cecece 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0 12px 13px -10px #5E5E5E;
	box-shadow: 0 12px 13px -10px #5E5E5E;
	border:1px solid #fff;
	text-align:center;
	padding-top: 5px;
	font-weight:bold;
}

button:hover {
	font-family: 'Share', cursive;
	text-decoration: underline;
	color: #656a6d;
	text-shadow: 1px 1px 1px #ffffff;
	background-color:transparent;
	font-weight:bold;
}

.input-inputprincipal{
	width: 100%;
	height:48px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    font-family: 'Average Sans', sans-serif;
	color: #6f6f6f;
	font-size:18px;
	font-weight:normal;
	background-color:#fff;
	padding: 0 0 0 8px;
	margin-top:-8px;
	border: solid 2px #b8b8b8;
	outline: none;
	-webkit-box-shadow:inset 1px 1px 8px 1px #cacaca;
	box-shadow:inset 1px 1px 8px 1px #cacaca;
}
.input-inputprincipal:hover{
	width: 100%;
	height:48px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    font-family: 'Average Sans', sans-serif;
	color: #6f6f6f;
	font-size:18px;
	font-weight:normal;
	background-color:#fff;
	padding: 0 0 0 8px;
	margin-top:-8px;
	border: solid 2px #f397a4;
	outline: none;
}
.input-inputprincipal:focus{
	width: 100%;
	height:48px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    font-family: 'Average Sans', sans-serif;
	color: #6f6f6f;
	font-size:18px;
	font-weight:normal;
	background-color:#fff;
	padding: 0 0 0 8px;
	margin-top:-8px;
	border: solid 2px #f397a4;
	outline: none;
}



.input-inputarea{
	width:100%;
	height:100px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    font-family: 'Average Sans', sans-serif;
	color: #6f6f6f;
	font-size:18px;
	font-weight:normal;
	background-color:#fff;
	padding: 0 0 0 8px;
	margin-top:-8px;
	border: solid 2px #b8b8b8;
	outline: none;
	-webkit-box-shadow:inset 1px 1px 8px 1px #cacaca;
	box-shadow:inset 1px 1px 8px 1px #cacaca;
}
.input-inputarea:hover{
	width:100%;
	height:100px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    font-family: 'Average Sans', sans-serif;
	color: #6f6f6f;
	font-size:18px;
	font-weight:normal;
	background-color:#fff;
	padding: 0 0 0 8px;
	margin-top:-8px;
	border: solid 2px #f397a4;
	outline: none;
}
.input-inputarea:focus{
	width:100%;
	height:100px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    font-family: 'Average Sans', sans-serif;
	color: #6f6f6f;
	font-size:18px;
	font-weight:normal;
	background-color:#fff;
	padding: 0 0 0 8px;
	margin-top:-8px;
	border: solid 2px #f397a4;
	outline: none;
}


/* =Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 768px) {
h1,
h2,
h3 {
    font-size: 19px !important;
}
}
